@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  font-family: JetBrains Mono;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2e3440;
  --bg-accent: #3b4252;
  --border: #434c5e;
  --selected: #88c0d0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  accent-color: #88c0d0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #d8dee9;
    --bg-accent: #e5e9f0;
  }
  button {
    background-color: #e5e9f0;
  }
}
